---
layout: default
---

<h1>{{ data.title }}</h1>
{% if data.bgg %}
<quote>
  <a href="{{ data.bgg }}">on BoardGameGeek</a>
</quote>
{% endif %}

{% for file in site.static_files %}
{% assign file_is_image_for_this = file.basename | starts_with: data.slug %}
{% if file_is_image_for_this %}
<p><img src="{{ file.path }}"/></p>
{% endif %}
{% endfor %}
