---
layout: default
---

<h1>{{ data.title }}</h1>
{% if data.bgg %}
<quote>
  <a href="{{ data.bgg }}">on BoardGameGeek</a>
</quote>
{% endif %}

{% for file in site.static_files %}
{% assign matches_path = file.path | contains_path: data.slug %}
{% if matches_path %}
<p><img src="{{ file.path }}"/></p>
{% endif %}
{% endfor %}
