@import "classless";

.covers img {
    aspect-ratio: 2.5/3.5;
    width: min(2in, 32%);
}
.rulebook {
    margin-bottom: 2em;
    overflow: auto;
    white-space: nowrap;
    img {
        max-width: min(90vw, 3.5in);
        max-height: min(95vh);
        &.wide {
            max-width: min(180vw, 7.075in);
        }
    }

    @media (min-width: 1280px) {
        white-space: normal;
        img {
            max-width: 24%;
        }
    }
}
